<header class="header">
  <div class="container header-content">
    <img class="profile-image pull-left" src="<%= asset_path('head.png') %>" alt="Denis Cheung">
    <div class="profile-content pull-left">
      <h1 class="name">Denis Cheung</h1>
      <h2 class="title">Web App Developer</h2>
      <ul class="links">
        <li><a href="mailto:d.s.h.cheung@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
        <li><a href="https://github.com/dshcheung/"><i class="fa fa-github"></i></a></li>
        <li><a href="https://hk.linkedin.com/in/dshcheung/en"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://www.facebook.com/dshcheung"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="http://matchhistory.na.leagueoflegends.com/en/#match-history/NA/32813275"><i class="fa fa-gamepad"></i></a></li>
      </ul>
    </div>
    <div class="profile-quote pull-right hidden-sm hidden-xs">
      <p>"If her DNA was off by one percentage<br> point she'd be a dolphin."</p>
      <p class="pull-right">House M.D</p>
    </div>
  </div>
</header>

<div class="container section-content">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about-me-section">
        <h2>About Me</h2>
        <div>
          <p>Canadian born Chinese raised in Hong Kong. Been to Canada for high school and United Kingdom for university. From a finance background, and have been slowly transitioning to technology industry. To achieve this goal faster, I have chosen the 3 month full-time program <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive (WDI) with General Assembly</a>.</p>

          <p>I graduated on March 2015 with 3 projects completed using various libraries such as Ruby on Rails, Angular, HTML, CSS, JavaScript, jQuery, Scrapping, SQL, and many more. However the most valuable lessons I learned is the fundamentals of programming and app creation allowing me to pick up any language/libraries quickly.</p>

          <p>Work and study aside, I am really passionate about sports and games especially tennis and League of Legends. If you ever need people to play doubles or you simply want to challenge me to single, do send me email. If you are a gaming enthusiast, do look up "Harunoame" in LOL NA server, in steam, or in origin.</p>
        </div>
      </section>
      <section class="project-section">
        <h2>Latest Projects</h2>
        <div class="project-content">
          <h3 class="project-title">
            <a href="http://www.lolstatsdb.com">LoLStatsDB</a>
          </h3>
          <div class="project-summary">
            <p>User-Friendly one-stop site for League of Legends players to compare statistics</p>
          </div>
          <img src="<%= asset_path('lolstatsdb.jpg') %>" alt="lolstatsdb">
          <div class="project-description">
            <p>This was my final project at WDI. The reason I created this website is because many similar website have their own unique statistics derived from the same data, therefore, I want to merge all these unique stats into an unified website.</p>
          </div>
        </div>
        <hr class="divider">
        <div class="project-content"> 
          <h3 class="project-title">
            <a href="http://www.recipedb.me">RecipeDB.me</a>
          </h3>
          <div class="project-summary">
            <p>Comprehensive navigation and accurate recipe filtering system</p>
          </div>
          <img src="<%= asset_path('recipedb.jpg') %>" alt="recipedb">
          <div class="project-description">
            <p>This was my second project at WDI. I collaborated with <a href="http://hk.linkedin.com/in/clementchoi2/en">Clement</a> to create a centralized database for recipes with the best filter system. Originally we decided to clone <a href="http://www.allrecipes.com">www.allrecipes.com</a>, but we realized their filter User-Experience was not up to par. So we decided to clone <a href="http://www.airbnb.com">www.airbnb.com</a> filter system.</p>
          </div>
        </div>
        <hr class="divider">
        <div class="project-content">
          <h3 class="project-title">
            <a href="http://boxful.herokuapp.com">Boxful</a>
          </h3>
          <div class="project-summary">
            <p>Storage box delivery/retrieval/warehousing management system</p>
          </div>
          <img src="<%= asset_path('boxful.jpg') %>" alt="boxful">
          <div class="project-description">
            <p>My first project was cloning Boxful. <a href="http://www.boxful.com">Boxful</a> is an existing Hong Kong company that provides storage service where they deliver empty recyclable plastic boxes and pickup packed boxes to the warehouse. The reason I chose to clone boxful is because the back-end was fun to recreate for a first project. The back-end include: keeping track of individual boxes, status log for admins, and different levels admins (accountants, deliverer, super-admin).</p>
          </div>
        </div>
      </section>
      <section class="git-section">
        <h2>My GitHub</h2>
        <div>
          <div id="feed"></div>
        </div>
      </section>
    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <section class="skills-section">
        <h2>Skills</h2>
        <div class="skills-summary">
          <p>A Full-Stack web developer committed to creating adaptive solutions that are distinctive and engaging by approaching each project with the full scope in mind</p>
        </div>
        <div class="skills-tags">
          <h3>Languages</h3>
          <div>Full-Stack Web Development</div>
          <div>AngularJS</div>
          <div>Ruby on Rails</div>
          <div>Javascript & jQuery</div>
          <div>SQL & PostgreSQL & SQLite</div>
          <div>MongoDB & Firebase</div>
          <div>Mobile with Ionic</div>
          <div>Bootstrap</div>
          <div>HTML5, CSS3, SCSS, SASS</div>
          <div>Web Scrapping</div>
          <div>XML</div>
          <div>JSON</div>
          <div>Regex</div>
          <div>Bower</div>
          <div>Gems</div>
        </div>
        <div class="skills-tags">
          <h3>Learning</h3>
          <div class="learning">Node.js</div>
          <div class="learning">Angular 2.0</div>
        </div>
        <div class="skills-tags">
          <h3>Services</h3>
          <div class="services">Git</div>
          <div class="services">GitHub</div>
          <div class="services">Heroku</div>
          <div class="services">Waffle.io</div>
          <div class="services">Amazon Web Server</div>
        </div>
      </section>
      <section class="experiences-section">
        <h2>Education/Experiences</h2>
        <div class="experiences-content">
          <div class="experience">
            <h3><i class="fa fa-graduation-cap"></i> Web Development Imersive</h3>
            <h4>General Assembly, Hong Kong <span>(Dec 2014 - Mar 2015)</span></h4>
          </div>
          <div class="experience">
            <h3><i class="fa fa-briefcase"></i> Operations/Tech (Intern)</h3>
            <h4>Square Mile Advisors, Hong Kong <span>(Sep 2014 - Nov 2014)</span></h4>
          </div>
          <div class="experience">
            <h3><i class="fa fa-briefcase"></i> Business Development</h3>
            <h4>ZOOQ, Shanghai <span>(Mar 2013 - Aug 2014)</span></h4>
          </div>
          <div class="experience">
            <h3><i class="fa fa-briefcase"></i> Financial Planning Officer</h3>
            <h4>Manulife International Limited <span>(Sep 2011 - Feb 2013)</span></h4>
          </div>
          <div class="experience">
            <h3><i class="fa fa-graduation-cap"></i> BH Hons Business Finance</h3>
            <h4>Durham University, United Kingdom <span>(Oct 2008 - Feb 2011)</span></h4>
          </div>
        </div>
      </section>
      <section class="languages-section">
        <h2>Languages</h2>
        <div class="language-content">
          <ul class="list-unstyled">
            <li class="language">
              <span><strong>English: </strong></span>
              <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
            </li>
            <li class="language">
              <span><strong>Cantonese: </strong></span>
              <span>Native Speaker <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
            </li>
            <li class="language">
              <span><strong>Mandarin: </strong></span>
              <span>Socially Proficient <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
            </li>
            <li class="language">
              <span><strong>Japanese: </strong></span>
              <span>Socially Competent <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
            </li>
          </ul>
        </div>
      </section>
<!--       <section class="games-section">
        <h2>Favourite Games</h2>
      </section> -->
    </div>
  </div>
</div>

<footer>
  <div class="container text-center">
    <span>Website by</span> Denis Cheung <span>referencing from</span> <a href="http://themes.3rdwavemedia.com">Xiaoyin Riley</a>
  </div>
</footer>
