<header>
  <div class="container">
    <img src="" alt="Denis Cheung">
    <div>
      <h1>Denis Cheung</h1>
      <h2>Web App Developer</h2>
      <ul>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</header>