@import "variables";

body {
  font-family: $font-family-2;
  h1, h2, h3 {
    font-family: $font-family-1;
  }
  background: rgb(218, 227, 231);
  header {
    padding: 30px;
    background: #f5f5f5;
    border-top: 10px solid #778492;
    div.header-content {
      img.profile-image {
        width: 180px;
        border-radius: 90px;
        margin-right: 20px;
      }
      div.profile-content {
        display: inline;
        h1.name {
          font-size: 38px;
          font-weight: bold;
          margin: 30px 0 5px;
        }
        h2.title {
          font-family: $font-family-2;
          font-size: 24px;
          margin: 0 0 15px;
          color: rgb(119, 132, 146);
        }
        ul.links {
          list-style-type: none;
          padding: 0;
          margin: 0 0 10px -5px;
          li {
            display: inline-block;
            padding: 0 5px;
            height: 46px;
            width: 56px;
            a {
              display: block;
              background-color: rgb(176, 183, 191);
              border-radius: 50%;
              height: 46px;
              width: 46px;
              text-align: center;
              i {
                padding-top: 9px;
             ;   color: white;
                font-size: 28px;
              }
            }
            a:hover {
              background: rgb(119, 132, 146);;
            }
          }
        }
      }
      div.profile-quote {
        margin-top: 30px;
        p {
          font-size: 26px;
          font-weight: 400; 
          font-style: italic;
        }
      }
    }
  }

  div.section-content {
    padding: 60px 15px;
    div.row {
      div.primary, div.secondary {
        section {
          background: white;
          padding: 30px;
          margin: 0 0 30px;
          h2 {
            font-size: 24px;
            font-weight: bold;
            color: rgb(84, 94, 105);
            margin-top: 0;
          }
          div {
            p {
              font-size: 16px;
              color: rgb(67, 67, 67);
            }
          }
        }
        //Primary section stuff
        section.project-section {
          hr {
            margin: 20px 0 60px;
          }
          div.project-content {
            text-align: center;
            h3 {
              font-size: 20px;
              font-weight: bold;
              color: rgb(95, 107, 119);
            }
            div.project-summary {
              p {
                font-size: 16px;
                color: rgb(119, 132, 146);
              }
            }
            img {
              width: 100%;
              border: 1px solid black;
              margin: 0 0 30px;
            }
            div.project-description {
              text-align: justify;
              p {
                font-size: 16px;
                color: rgb(67, 67, 67);
              }
            }
          }
        }
        section.git-section {
          div#feed {
            height: 500px;
            .gha-header {
              height: 87px;
              width: calc(100% - 2px);
              .gha-gravatar > a > img{
                width: 68px;
                height: 68px;
              }
            }
            .gha-github-icon {
              span {
                display:none;
              }
            }
            .gha-activity-icon {
              display: none;
            }
            .gha-message {
              margin: 0 0 0 50px;
            }
            .gha-small .gha-time {
              margin-top: 0;
              margin-left: 50px;
            }
            .gha-footer {
              height: 27px;
              width: calc(100% - 2px);
            }
          }
        }
        //Secondary section stuff
        section.skills-section {
          div.skills-summary {

          }
          div.skills-tags {
            display: inline-block;
            h3 {
              font-size: 20px;
              color: rgb(95, 107, 119);
            }
            div {
              display: inline-block;
              border: 1px solid black;
              border-radius: 5px;
              background-color: rgb(178,244,247);
              padding: 5px;
              margin: 5px;
            }
            div.learning {
              background-color: rgb(102, 203, 140);
            }
          }
        }
        section.experiences-section {
          div.experiences-content {
            div.experience {
              margin-bottom: 30px;
              h3 {
                font-size: 16px;
                font-weight: 700;
                color: rgb(119, 132, 146);
              }
              h4 {
                font-size: 13px;
                font-weight: 600;
                color: rgb(153, 153, 153);
                padding-left: 25px;
              }
            }
            div.experience:last-child {
              margin: 0;
            }
          }
        }
        section.languages-section {
          div.language-content {
            ul {
              li {
                span {
                  font-size: 16px;
                  color: rgb(153, 153, 153);
                  strong {
                    font-size: 16px;
                    color: rgb(119, 132, 146);
                  }
                  i {
                    color: rgb(121, 209, 154);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    background: rgb(50, 56, 62);
    padding: 10px 0;
    color: white;
    span {
      color: rgb(161, 170, 180);
    }
  }
  @media screen and (max-width: 991px) {
    div.header-content {
      text-align: center;
      img.profile-image {
        float: none !important;
        margin: 0 !important;
      }
      div.profile-content {
        float: none !important;
        text-align: center;
      }
      div.profile-quote {
        float: none !important;
        text-align: center;
        p:last-child {
          float: none !important;
        }
      }
    }
  }
  @media screen and (min-width: 1400px) {
    .container {
      width: 1360px;
    }
  }
}
